
{% extends "base.html" %}

{% block start %}
{% load static %}

  <nav class="navbar navbar-light bg-info bg-gradient fixed-top">
    <div class="container-fluid bg-info bg-gradient">
        <div class="navbar-brand">
            <img src="{% static 'photos/jspm.jpg' %}" width="50" height="50" class="d-inline-block align-text-top">
        </div>
        <a class="navbar-brand d-block text-center text-md-start" href="#">
            <span class="d-none d-sm-inline fs-3">JSPM's Bhagwant Institute of Technology, Barshi</span>
            <span class="d-inline d-sm-none fs-3">JSPM's BIT, Barshi</span>
          </a>
          
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <div class="navbar-brand">
                <img src="{% static 'photos/jspm.jpg' %}" width="60" height="60" class="d-inline-block align-text-top">
            </div>
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">JSPM's BIT, Barshi</h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=" /">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://bitbarshi.edu.in/trust/index.html">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/login/">Student</a></li>
                <li><a class="dropdown-item" href="/admin/">Librarian</a></li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/">SignUp</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Books" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

   
    {% endblock %}